html,
body,
#__next {
  height: 100%;
}

@keyframes spinnerSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-radius: 999999px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinnerSpin 0.45s linear infinite;
}

.font-noto {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
