/* App */

.appTitle {
  color: #e1e1e1 !important;
}

.appSubtitle {
  color: #a7a7a8 !important;
}

/* Card */

.card {
  background: #3c3c3d !important;
}

.cardTitle {
  color: #e1e1e1 !important;
}

.cardContent, .cardCode {
  color: #fff;
}

/* Meta */

.metaTitle {
  color: #e1e1e1 !important;
}

/* Link */

.link {
  color: #3784f7;
}

/* Misc */

.whiteText {
  color: #fff !important;
}
