html, body {
  background-color: #f0f2f5;
}

.container {
  padding: 0 25px;
}

.header {
  margin-top: 60px;
  margin-bottom: 5px !important;
}

.title {
  font-size: 38px !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
  display: inline-block;
}

.divider {
  margin-top: 0px;
}

.subtitle {
  display: inline;
  color: rgba(0, 0, 0, 0.45) !important;
}

.footer {
  text-align: center;
}
